* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  color: #444;
  /* color: #f3f3f3; */
  line-height: 1.9;
  background-color: #f3f3f3;
  /* background-color: #100e17; */
}

/*General elements...*/
.btn {
  display: inline-block;
  background-color: #5ec576;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 12.5px 45px;
  border-radius: 99px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #4bbb7d;
}
.btn--text {
  display: inline-block;
  background: none;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  color: #5ec576;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
p {
  color: #666;
}
img {
  transition: filter 0.5s;
}
.section {
  padding: 149px 30px;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
.section__title {
  max-width: 793px;
  margin: 0 auto 79px auto;
}
.section__header {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 500;
}
.section__description {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5ec576;
  margin-bottom: 10px;
}
.section--hidden {
  opacity: 0;
  transform: translateY(80px);
}
.change--image {
  height: 50px;
  width: 80px;
}
.circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #5ec576;
  display: grid;
}
.colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
  margin-top: 5px;
}
/*navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  width: 100%;
  padding: 0 60px;
  z-index: 100;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__logo {
  height: 45px;
  transition: all 0.3s;
}
.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__item {
  margin-left: 40px;
}
.nav__link:link,
.nav__link:visited {
  font-size: 17px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 8px 25px;
  border-radius: 30px;
  background-color: #5ec576;
  color: #222;
}
.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #4bbb7d;
  color: #333;
}
.cartTab {
  width: 400px;
  background-color: black;
  color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  inset: 0 0 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
.section--featured {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
}
.cartTab .hidden {
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btnn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btnn button {
  background-color: #ffbb00;
  border: none;
  cursor: pointer;
}
.cartTab .btnn .close {
  background-color: #fd424b;
}

.dark__mode {
  max-width: fit-content;
  position: fixed;
  left: -250px;
  transition: left 0.5s ease;
}
.dark__mode .clicked {
  left: 0;
}
.dark__mode ul li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
.snowflakes-container {
  background-color: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.snowflakes-container .clicked {
  position: fixed;
  transition: left 0.5s ease;
  left: 200px;
}
.snowflakes-container:hover {
  cursor: pointer;
}
.snow-flakes {
  height: 35px;
  width: 35px;
  fill: #333;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
  padding: 0 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  flex: 1;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 40px;
  column-gap: 25px;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
  margin: 0 auto;
  padding-top: 200px;
}
h1 {
  font-size: 44px;
  line-height: 1.35;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
.header__img {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1 / span 4;
  transform: translateY(-60px);
}
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #39b385;
}
.footer {
  padding: 99px 30px;
  background-color: #37383d;
}
.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.footer__item {
  margin-right: 40px;
}
.footer__link {
  font-size: 16px;
  color: #eee;
  text-decoration: none;
}
.footer__logo {
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.footer__copyright {
  font-size: 14px;
  color: #aaa;
  text-align: center;
}
.footer__copyright .footer__link {
  font-size: 14px;
}
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 99px 30px;
}
.section--sign-up .section__header {
  color: #fff;
  text-align: center;
}
.section--sign-up .section__title {
  margin-bottom: 59px;
}
.section--sign-up .btn {
  font-size: 19px;
  padding: 20px 50px;
}
.product {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 25px;
  justify-content: center;
}
.product-box {
  max-width: 992px;
  margin: 120px auto 0 auto;
  background-color: #fff;
  padding: 10px;
}
.products__tab-container {
  display: flex;
  justify-content: center;
}
.product__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.products__tab {
  margin-right: 25px;
  transform: translateY(-50%);
}
.products__tab--active {
  transform: translateY(-66%);
}

.products__tab--1 {
  background-color: #ffcb03;
}
.products__tab--1:hover {
  background-color: #ffbb00;
}
.products__tab--2 {
  background-color: #ff585f;
}
.products__tab--2:hover {
  background-color: #fd424b;
}
.products__tab--3 {
  background-color: #5ec576;
}
.product__tab--3:hover {
  background-color: #4bbb7d;
}

.products__img {
  height: 150px;
  width: 200px;
  border-radius: 15px;
}
.products__content {
  display: none;
}
.products__content--active {
  display: inline-block;
}
.products__desc {
  display: inline-block;
  margin: 5px;
  padding: 15px;
  font-weight: 500;
  background-color: #f3f3f3;
}
/*.products__content--active {
  display: inline-block;
  margin: 5px;
  padding: 15px;
  font-weight: 500;
  background-color: #f3f3f3;
}*/
.products__content button {
  margin-top: 5px;
}
.products__content p {
  font-size: 18px;
}
.cart-svg {
  height: 40px;
  width: 40px;
  fill: #4bbb7d;
}
.cart-svg:hover {
  fill: #5ec576;
  cursor: pointer;
}
.icon-cart {
  position: relative;
}
.icon-cart:hover {
  cursor: pointer;
}
.icon-cart span {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fd424b;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
.price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.star__img {
  height: 25px;
  width: 25px;
}

.star {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

/*modal window */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow: auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}
.close-modal {
  font-size: 50px;
  border: none;
  background: none;
  position: fixed;
  top: 12px;
  right: 20px;
}
.hidden {
  display: none;
}
.cart-item {
  display: block;
  display: grid;

  grid-template-columns: 25% 25% 25% 1fr;

  text-align: center;
  align-items: center;
  padding: 7px;
}
.cart-item__name {
  font-size: 22px;
  font-weight: 500;
}
.cart-item__price {
  font-size: 22px;
  font-weight: 500;
}
.products__img--cart {
  height: 80px;
  width: 80px;
}
.cart-item__quantity span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  color: #fff;
}
.cart-item__quantity span:nth-child(2) {
  background-color: transparent;
  color: black;
}
